
  <!--<ion-view ng-controller="CatCtrl">
    <ion-content id="eventPlaceholder" has-bouncing="false">
    <div class="space2"></div>
    <debug>{{array}}</debug>
      <button class="button button-positive" ng-click="oneToTwo()">Move position 1 to 2</button>
      <button class="button button-positive" ng-click="oneToThree()">Move position 1 to 3</button>
      <button class="button button-positive" ng-click="twoToThree()">Move position 2 to 3</button>
    </ion-content>
</ion-view>
-->
<ion-view title="" hide-back-button="true"  id="animate-area2">

    
  <ion-content class="padding titre2">  

  							<b class="red2 center"> Haters</b>
  				<div class="space2"> </div/>
         			<ion-item nav-clear menu-close class="assertive" href="#/app/inscription">
				          S'inscrire
				        </ion-item>
					<br />
			      <ion-item nav-clear menu-close  class="assertive" ng-click="login()">
         				Se connecter
       				 </ion-item>
               
  				 <section class="rw-wrapper">
				<h2 class="rw-sentence">
					<span></span>
					<br />
					<span></span>
					<div class="rw-words rw-words-1">
						<span>Sensation</span>
						<span>Expression</span>
						<span>Frustration</span>
						<span>Angry</span>
						<span>Check</span>


					</div>
					<br />
					<span></span>
					<div class="rw-words rw-words-2">
						<span>haters</span>
						<span>Lachez vous</span>
						<span>Grumpy</span>
						<span>Mad</span>
						<span>Retard</span>
					</div>
				</h2>
			</section>
  
        </div>
  </ion-content>
</ion-view>