

<ion-view title="" hide-back-button="true"  id="animate-area">

    
  <ion-content class="padding titre2">  

  <div class="list item-list ">Connectez vous</div>  
     <div class="space2"></div>
         <form  method="http://localhost:1337" action="post">


        <div class="list list-inset">
          <label class="item item-input">
              <input type="text" id="pseudo" placeholder="Username" >
          </label>
          <label class="item item-input">

              <input type="password" id="password" placeholder="Password" >
          </label>
      </div>

      <button class="button button-block button-assertive" >Login</button>
    </form>

     <div class="container">
    
                <div class="clr"></div>
            </div>
    
      <section class="rw-wrapper">
        <h2 class="rw-sentence">
          <span>Bienvenue sur Haters</span>
          <br />
          <span>Exprimez</span>
          <div class="rw-words rw-words-1">
            <span>Votre hainte</span>
            <span>Vos frustrations</span>
            <span>..</span>
           
          </div>
          <br />
          <span>Connecter avec</span>
          <div class="rw-words rw-words-2">
            <span>Facebook</span>
            <span>Twitter</span>
            <span>Instagram</span>
        
          </div>
        </h2>
      </section>
  
        </div>
  </ion-content>
</ion-view>