<body ng-controller="MyCtrl">
  <ion-tabs>




    <ion-tab title="Tab 1" icon-on="ion-beer" icon-off="ion-beer">


    		<ion-content>
    			<div class="space2"></div>
				
				    <div class="item-content">
				      	<ion-checkbox ng-model="isChecked">	<img  class="small"src="img/shen15.jpg"><button class="button titre button-clear button-assertive" ><b>Jeux videos</b></button></ion-checkbox>
				    </div>


			  		 <div class="item-content">
				      	<ion-checkbox ng-model="isChecked2">	<img  class="small"src="img/shen15.jpg"><button class="button titre button-clear button-positive" ><b>Politique</b></button></ion-checkbox>
				    </div>


					<div class="item-content">
				      	<ion-checkbox ng-model="isChecked3">	<img  class="small"src="img/shen15.jpg"><button class="button titre button-clear button-dark" ><b>Films</b></button></ion-checkbox>
				    </div>


					 <div class="item-content">
				      	<ion-checkbox ng-model="isChecked5">	<img  class="small"src="img/shen15.jpg"><button class="button titre button-clear button-energized" ><b>Sports</b></button></ion-checkbox>
				    </div>

					   <div class="item-content">
				      	<ion-checkbox ng-model="isChecked4">	<img  class="small"src="img/shen15.jpg"><button class="button titre button-clear button-light" ><b>Voyages</b></button></ion-checkbox>
				    </div>


				<br />
				 <button class="button button-assertive center">
                S'enregistrer
            </button>

			</ion-contents>
    </ion-tab>

    <ion-tab title="Tab 2" icon-on="ion-bug" icon-off="ion-bug">   </ion-tab>

 	 </ion-tabs>

</body>