

<ion-view view-title="Playlist">
  <ion-content>


  	 		<div class="bar bar-header bar-light">
                <h1 class="title">Paramètres</h1>
            </div>
            <br /><br />
		

				<form method="post" action="">

					<div class="range">
					  <i class="icon ion-volume-low"></i>
					  <input type="range" name="volume">
					  <i class="icon ion-volume-high"></i>
					</div>

					<div class="list">
					  <div class="item range range-positive">
					    			    <i class="ion-ios-color-wand"></i>
					    <input type="range" name="volume" min="0" max="100" value="33">
					    			    <i class="icon ion-ios-color-wand "></i>
					  </div>
					</div>


							<ul class="list">
						  <li class="item item-checkbox">
						     <label class="checkbox">
						       <input type="checkbox">
						     </label>
						     Activer les Hashtag
						  </li>
		                </ul>

		                	<ul class="list">
						  <li class="item item-checkbox">
						     <label class="checkbox">
						       <input type="checkbox">
						     </label>
						     Filtrer selon ses gouts.
						  </li>
		                </ul>
		                 <button class="button button-positive center">
							Enregistrer
					     </button>
				 </form>

  </ion-content>
</ion-view>
