<ion-view >
  <ion-content >
  <div class="pref">
    <div class="row">
        <div class="col"> <img class="full-image" src="img/politique.jpg" >
                    <ion-checkbox ng-model="isChecked" class="transparent">  <b class="red">Politique</b></ion-checkbox>
        </div>
        <div class="col"> <img class="full-image" src="img/jeux.jpg" >
                    <ion-checkbox ng-model="isChecked2" class="transparent"> <b class="red"> Jeux vidéos <b></ion-checkbox>
        </div>
  </div>
 


   <div class="row">
        <div class="col"> <img class="full-image" src="img/shen21.jpg" >
                    <ion-checkbox ng-model="isChecked3" class="transparent"><b class="red">  Manga</b></ion-checkbox>

        </div>

  </div>

    <div class="row">
        <div class="col"> <img class="full-image" src="img/dans.jpg" >
                              <ion-checkbox ng-model="isChecked4" class="transparent">  <b class="red">Danse </b></ion-checkbox>
        </div>
        <div class="col"> <img class="full-image" src="img/music.jpg" >
                    <ion-checkbox ng-model="isChecked5" class="transparent"> <b class="red"> Musique <b></ion-checkbox>
        </div>
  </div>

  <div class="row">
        <div class="col"> <img class="full-image" src="img/sport.jpg" >
                    <ion-checkbox ng-model="isChecked6" class="transparent"> <b class="red"> Sports <b></ion-checkbox>

        </div>
  </div>

  <br /> <br /> <br />
</div>
</ion-content>
</ion-view>